@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Righteous&family=Nunito');

// Set your brand colors
$green: #0DBF8A;
$dark-grey: #1a1a1a;
$lighter-grey: #a1a1a1;
$light-grey: #d7d7d7;
$light-red: #FF6B6B;
$light-blue: #59A5D8;
$purple: #251351;
$white: #ffffff;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-light: $light-grey;
$primary: $light-blue;
$link: $light-grey;

$font-logo: 'Righteous', 'sans-serif';
$font-standard: 'Inconsolata', 'sans-serif';

$family-primary: $font-standard;
$background: $dark-grey;
$body-background-color: $dark-grey;
$body-color: $light-grey;
$strong-color: $light-grey;
$label-color: $light-blue;
$input-background-color: $light-grey;
$title-color: $green;

.navbar-menu.show {
    display: block;
    position: absolute;
    width: 100%;
}

.navbar-brand {
    .navbar-item {
        font-family: $font-logo
    }
}

body {
    font-family: $font-standard
}

.field.is-grouped>.control {
    width: 100%;
}

button {
    white-space: normal!important;
    height: 100%!important;
}

.loading-spinner {
    width: 50px;
    line-height: 1;
}

.min-height-60 {
    min-height: 60px;
    line-height: 1;
}

button img {
    max-height: 26px;
}

.display-status {
    .loading-spinner {
        height: 2.5rem;
        width: 2.5rem;
        margin-top: 4px;
    }
}

@import "~bulma/bulma";

.radio,
.radio:hover,
.checkbox,
.checkbox:hover {
    color: $white;
}

.navbar.is-black .navbar-brand > a.navbar-item:hover,
.navbar.is-black .navbar-start > a.navbar-item:hover {
    background-color: unset;
}